# ----- server -----
__pycache__/
venv/
server/logs/*
!server/logs/README.md
server/output/*
!server/output/README.md
# WILL BE REMOVED
debug/

# Correction Model
*.gguf

# Web
node_modules/
dist/
out/
logs/node*

# Secrets
.env
