# ----- server -----
__pycache__/
venv/
logs/*
!logs/README.md
server/output/*
!server/output/README.md
# WILL BE REMOVED
debug/
session_history/

# Correction Model
*.gguf

# Web
node_modules/
dist/
out/
logs/node*

# Secrets
.env
