# PYTHON
__pycache__/
venv/
debug/
session_history/

# Correction Model
*.gguf

# NPM
node_modules/
logs/
dist/

# QT Desktop App
desktop-app/*
!desktop-app/main.cpp
!desktop-app/CALC_Zoom_Translation.qt.pro

# SECRETS
.env
